.tagline{
    color: var(--tagline-color);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kumbh Sans';
    line-height: 120%;
    letter-spacing: -3%;
    
}

.banner-heading{
    color: var(--title-color);
    font-family: 'Kumbh Sans';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -3%;
    font-size: 48px;
}

p{
    color: var(--paragraph-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -3%;
    width: 95%;
}

.left-b{
    padding: 145px 0px 0px 75px;
}
.right-b{
    padding: 230px 0px 0px 50px;
    margin-top: 75px;
    border-left: 2px solid var(--strok-color);
    border-bottom: 2px solid var(--strok-color);
    background-image: url(../../assets/banner.png);
    background-repeat: no-repeat, repeat;
}

.left_b_under{
    display: flex;
    width: 100%;
    margin-left: 3.1px;
    border-bottom: 2px solid var(--strok-color);
    flex-wrap: nowrap;
}

.left_b_under .left-b-spetial{
    width: 272px;
    height: auto;
    color: white;
    border-right: 2px solid var(--strok-color);
    border-top: 2px solid var(--strok-color);
    padding: 20px 30px;
}

.left_b_under .left-b-spetial h4 {
    font-size: 30px;
    color: var(--title-color);
}

.left_b_under .left-b-spetial h4 span{
    color: var(--icon-color);
    font-size: 30px;
}

.left_b_under .left-b-spetial span{
    color: #98989A;
    font-size: 12px;
}

.fetuers-mid{
    border-right: 2px solid var(--strok-color);
    border-left: 2px solid var(--strok-color);
}


.container-fluid .fetuers{
    margin-right: 20px;
    margin-left: 20px;
}


.container-fluid .row .right-b img{
    width: 136px;
    height: 66px;
}

.container-fluid .row .right-b h2{
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Kumbh Sans';
}


.container-fluid .row .right-b button{
    border: 1px solid var(--strok-color);
    border-radius: 8px;
    background-color: var(--secondary-icon-color);
    color: #98989A;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 10px;
}

.container-fluid .row .right-b button img{
    width: 20px;
    height: 20px;
}


.container-fluid .fetuers .col-lg-4{
    padding: 20px 50px;
}
.container-fluid .fetuers .col-lg-4 h5{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.container-fluid .fetuers .col-lg-4 span{
    font-size: 16px;
    font-weight: 300;
    color: var(--paragraph-color);
}


@media screen and (max-width: 1000px) {
    .left_b_under{
        display: none;
    }
    .left-b{
        padding: 90px 0px 0px 20px;

    }
    .right-b{
        padding: 160px 0px 20px 20px;
    }
    .container-fluid .fetuers {
        margin-right: 0px;
        margin-left: 0px;
    }
    .container-fluid .fetuers .fetuers-mid {
        border-left: none;
        border-right: none;
        border-top: 2px solid var(--strok-color);
        border-bottom: 2px solid var(--strok-color);
    }
  }

@media screen and (max-width: 380px) {
    .banner-heading{
        font-size: 23px;
    }
  }