.half-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.half-input .form-group{
    width: 47%;

}

.form-group{
    margin-top: 5px;
}


.sign_up_main .cols-grid .sign_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 3.5%;
    border: 3px solid var(--strok-color);
    border-radius: 35px;
    padding: 40px 55px ;
}



@media screen and (max-width: 400px) {
    .sign_up_main .cols-grid .sign_form {
        width: 96%;
        padding: 30px 7%;
        margin-top: 0%;
    }
    .sign_up_main{
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .form-div{
        display: flex;
        justify-content: center;
    }
    .sign_up .label{
        font-size: 10px;
        
    }
  }