
@media screen and (max-width: 550px) {
    .container .navbar {
        padding: 10px 10px;
    }
}
@media screen and (max-width: 380px) {
    .container .navbar .navbar-brand h4{
        display: none;
    }
    .container .navbar .navbar-brand img{
        width: 40px;
        height: auto;
    }
}