:root {

  --primary-color: #1E1E1E; 

  --secondary-color: #1A1A1A; 

  --title-color: #ffffff; 

  --tagline-color: #666666; 

  --icon-color: #AFDDE5; 

  --secondary-icon-color: #141414;

  --paragraph-color: #7E7E81; 

  --strok-color: #262626;

  --secondary-paragraph-color: #262626;

}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: 'Kumbh Sans';
}


input{
  background-color: transparent;
}