

.navbar{
    background-color: var(--secondary-color);
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid var(--strok-color);
}



.navbar .navbar-brand{
    display: flex;
}

.navbar .navbar-brand img{
    width: 55px;
    height: auto;
}
.navbar .navbar-brand h4{
    color: var(--title-color);
    font-family: 'Kumbh Sans';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 150%;
    margin: 5px 1px;
}

.btn-info{
    background-color: var(--icon-color);
    border: 2px solid var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-info:hover{
    background-color: transparent;
    color: var(--icon-color);
    border: 2px solid var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-info span{
    color: var(--secondary-icon-color);
}


.btn-info:hover span{
    color: var(--icon-color);
}

.navbar .navbar-nav .nav-item .nav-link{
    color: var(--paragraph-color);
    width: 80px;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
}

.navbar .navbar-nav .nav-item .selected{
    background-color: var(--secondary-icon-color);
    color: var(--title-color);
    border: 2px solid #333333;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: var(--title-color);
    transition: 0.3s;
    cursor: pointer;
}

.dropdown-menu{
    background-color: var(--icon-color);
}

.dropdown-menu .dropdown-item{
    background-color: var(--icon-color);
    border-bottom: 1px solid var(--strok-color);
    color: #ffffff;
    cursor: pointer;
}

.dropdown-menu .dropdown-item:hover{
    background-color: var(--icon-color);
    border-bottom: 1px solid var(--strok-color);
    filter: saturate(0.5);
    cursor: pointer;
}

.navbar-collapse{
    justify-content: center;
}


.notification-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .notification-icon {
    position: relative;
    cursor: pointer;
    z-index: 100;
  }
  
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 12px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    background: var(--secondary-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: var(--secondary-icon-color);
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: white;
  }
  
  .header a {
    font-size: 12px;
    color: blue;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .notification-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .notification-item:last-child {
    border-bottom: none;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .text p {
    margin: 0;
    font-size: 14px;
  }
  
  .no-notifications {
    padding: 10px;
    text-align: center;
    color: #999;
  }
  

@media screen and (max-width: 500px) {
    .navbar{
        padding: 8px 10px ;
    }
    .navbar .navbar-brand img{
        width: 40;
        height: auto;
    }
    .navbar-toggler{
        position: fixed;
        width: 100%;
        display: flex ;
        justify-content: end;
        z-index: 1;
    }
    .navbar-nav .nav-item{
      z-index: 100;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
    }
    .navbar-nav .nav-link{
        width: 80px;
    }

    .dropdown {
        display: flex;
        justify-content: end;
        z-index: 50;
    }
    .dropdown .btn-info{
        margin-right: 33px;
        z-index: 50;
    }
    .dropdown-menu{
        margin-left: 0%;
    }
    .notification-dropdown .notification-icon{
      width: 80px;
    }
  }
/* 

  @media screen and (max-width: 380px) {
    .notification-dropdown .notification-icon{
      width: 30px;
    }
    .navbar-light .navbar-toggler {
      margin-left: -45px;
      margin-top: -6px;
    }
  } */